.popup {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 83%);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup main {
    background-color: #111015;
    border-radius:  var(--border-radius);
    width: 700px;
    height: 500px;
    padding: 2rem;
    flex-direction: column;
    

}

.popup .header {
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
}

.popup h5 {
    margin: 0;
    font-weight: normal;
    font-size: inherit;
}

.close-popup {
    cursor: pointer;
    font-size: inherit;
    color: var(--info-color);
    transition: 0.3s;
    user-select: none;
}

.close-popup:hover {
    color: #f65c5c;
    transform: scale(110%);
}

.popup .folder-select {
    width: 100%;
    height: 60%;
    border-radius: var(--border-radius);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--button-color);
    cursor: pointer;
    transition: 0.3s;
    border: 2px dashed var(--button-color);
    color: var(--info-color);
   
    
}

.popup .folder-select:hover, .popup .drag-over {
    border: 2px dashed #8b5cf6;
    background-color: #8a5cf620;
    
}

.popup .folder-select:hover svg, .popup .drag-over svg{
    transform: translateY(-50%) scale(110%);
    color: #8b5cf6;
}

.popup .folder-select:hover #arrow-folder {
    transform: translateY(0%);
    color: #8b5cf6;
    
}

.popup .folder-select svg {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    transition: 0.3s;
}

#arrow-folder {
    transform: translateY(100%);
    transition: 0.3s;
}

.popup .folder-select .infos {
    height: 30%;
    border-radius: var(--border-radius);
    justify-content: center;
    display: flex;
    
}



#bshadow {
    box-shadow: 0px 2px var(--info-color) ;
    font-weight: bold;
    transition: 0.3s;
}

.popup .folder-select #bshadow:hover {
    color: #8b5cf6;
    box-shadow: 0px 2px #8b5cf6; 
}

.create-new {
    width: 100%;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-between;
    background-color: var(--button-color);
    cursor: pointer;
    transition: 0.3s;
    border: 2px dashed var(--button-color);
    color: var(--info-color);
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
}

.create-new .content{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
}

#add-project {
    display: none;
}

.popup .sized {
    height: fit-content;
    width: fit-content;
}

.sized .title {
    font-size: 18px;
}

.binary {
    gap: 15px;
    background-color: inherit;
    border: none;
    padding: 0;
    flex-direction: column;
}

#cancel-close {
    border: 2px solid #f65c5c;
    background-color: #f65c5c;
    transition: 0.2s;
    width: 100%;
} 

#cancel-close:hover {
    color: #f65c5c;
    background: none;
}

#accept-close{
    border: 2px solid var(--buttons-color);
    background-color: var(--buttons-color);
    width: 100%;
} 


#close-but-server-running {
    display: none;
}